/* Header.module.css */
 
.container {
    height: 85px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    background-color:  #07080a;
    box-shadow: 0px 0px 5px #E258D2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contain {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.image img {
    height: 80px;
    width: 84px;
    margin: 10px 0;
}

.btn {
    display: flex;
    align-items: center;

    text-align: center;
    justify-content: center;
}

.normal{
    margin-left: 20px;
    background: linear-gradient(45deg, black, purple);
    color: white;
    padding: 9px 18px;
    font-size: 19px;
    border-radius: 30px;
    border: none;
}
.normal:hover{
    transform: scale(1.1);
}

.btn button:hover {
    background-color: rgb(200, 38, 162);
}

.down{

    display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  right: 25px;
  bottom: 20px;
}
.icon{
    font-size: 80px;
    border-radius: 20px;
    border: none;
  background-color: #3B003B;
  border: 1px solid white;
  box-shadow: 0px 0px 20px #3B003B;
}

@media (max-width: 768px){
  .down {
    right: 15px;
  }
  .icon{
    font-size: 50px;
  }
  .normal{
    font-size: 17px;
    padding: 7px 14px;
    margin-left: 5px;

  }
}