/* Base styles */
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    margin-top: 60px;
}

.contain1 {
    height: 100vh;
    width: 35%;
    background-color: rgb(13, 5, 23);
    display: flex;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box; 
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info img {
    width: 55%;
    height: auto;
    border-radius: 60%;
}

.info h2 {
    font-size: 2.4rem;
    font-weight: bolder;
    color: #FF7666;
}

.info p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn1, .btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border: 4px solid #3D91FF;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    padding: 8px 18px;
    font-size: 1.3rem;
}

/* Container 2 */
.contain2 {
    min-height: 100vh;
    background-color: #0C1016;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.contain2 h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1BFFBA;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contain2 h3 {
    font-size: 2rem;
}

.tabs {
    background-color: #0C1016;
    min-width: 600px;
    display: flex;
    justify-content:space-evenly;
    border: none;
    cursor: pointer;
    padding: 10px 5px;
    box-shadow: 0px 0px 6px white;
}

.tabWrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.tab {
margin: 20px 0px;
    padding: 15px 20px;
    min-height: 220px;
    width: 48%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    cursor: pointer;
}

.tab h4 {
    font-size: 1.8rem;
    line-height: 28px;
}

.tab p {
    font-size: 1.1rem;
    color: rgb(194, 185, 185);
}

.btn {
    border: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    padding: 8px 18px;
    align-items: center;
    border-radius: 15px;

}
.btn button{
    padding: 7px 14px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
}
.btn span{
    font-size: 1.1rem;
}

.all{
    margin: 20px 0px;
    padding: 15px 20px;
    min-height: 220px;
    width: 47%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    cursor: pointer;

}

.all h4 {
    font-size: 1.8rem;
    line-height: 28px;
}

.all p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: rgb(194, 185, 185);
}









/* Responsive styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .contain1 {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    .info {
        text-align: center;
    }

    .info h2 {
        font-size: 2.1rem;
    }
    .info img{
        width: 50%;
    }

    .info p {
        font-size: 1.3rem;
    }

    .btn1, .btn2 {
        font-size: 1.3rem;
    }

    .contain2 {
        height: auto;
        width: 100%;
        padding: 20px;
    }

    .contain2 h1 {
        font-size: 1.9rem;
        text-align: center;
    }

    .contain2 h3 {
        font-size: 1.5rem;
    }

    .tabs {
        min-width: 100%;
        flex-direction: row;
        padding: 10px;
    }

    .tabWrapper {
        flex-direction: column;
        gap: 0;
    }

    .tab {
        padding: 10px 15px;
        height: auto;
        width: 100%;
        margin-top: 30px;
    }

    .btn {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .all {
        width: 55% ;
    }
    .tab h4{
     font-size: 1.6rem;
    }
    .tab p{
        font-size: 1rem;
    }
    
}

@media (max-width: 450px){
  
    
    .info h2 {
        font-size: 1.9rem;
    }
    .info img{
        width: 50%;
    }

    .info p {
        font-size: 1.1rem;
    }

    .btn1, .btn2 {
        font-size: 1.2rem;
    }
    .contain2 h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .contain2 h3 {
        font-size: 1.4rem;
    }
    .all {
        width: 100% ;
    }
    .tab h4{
        font-size: 1.5rem;
       }
       .tab p{
           font-size: 1rem;
       
       }
   .all h4{
     font-size: 1.5rem;
    }
    .all p{
        font-size: 1rem;
       }
       .btn span{
        font-size: 1rem;
    }
   
    .btn button{
        padding: 4px 8px;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-weight: bold;
    }

}