
a {
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #2730c9;
  }
  
  *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  body{
    background-color: #0a0c0e;
  }
  li{
    list-style: none;
  }

  html, body {
    height:100%;
    margin: 0;
  }
  